<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" />

</head>
<body style="text-align:center; margin-top:100px;">
  <h2>Secure Remote Work Monitoring System</h2>
  <form action="/login" method="POST">
    <input name="username" placeholder="Enter your name" required />
    <button type="submit">Login</button>
  </form>
  <p>(Type "admin" for admin dashboard)</p>
</body>
</html>
